@layer components {
    .main-container {
        @apply mb-auto px-5 sm:px-8 pt-8 pb-10;
    }

    .main-table-container {
        @apply w-full;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .main-table-container section.heading {
        @apply flex flex-col gap-1 mb-7 items-start justify-between;
        @apply md:flex-row md:items-center;
    }

    .main-table-container section.heading h1 {
        @apply text-2xl font-extrabold tracking-tight text-slate-900;
    }

    .main-table-container section.heading p {
        @apply mt-1 text-sm text-slate-500;
    }

    main > div.flex.gap-4.items-center > h1 {
        @apply text-2xl font-extrabold tracking-tight text-slate-900;
    }

    .main-table-container section.table-content {
        @apply w-full overflow-x-auto mt-4;
    }

    dl.detail-list {
        @apply divide-y divide-slate-100;
    }

    dl.detail-list .data-container {
        @apply px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0;
    }

    dl.detail-list .preview-container {
        @apply px-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0;
    }

    .data-container dt, .preview-container dt {
        @apply text-sm font-medium leading-6 text-slate-500;
    }

    .data-container dd, .preview-container dd {
        @apply mt-1 text-sm leading-6 text-slate-900 sm:col-span-2 sm:mt-0;
    }
}
